* {box-sizing:border-box; margin:0; padding:0;}

img {
  object-fit:cover;
  vertical-align: middle;
}

body {
  background-color: #242424; /*#242424 black*/
  margin: 0;
  padding: 0;
  /*light green: rgb(220,240,192)
  */
}

/* Title container */
/* .title-container {
  height: 75px;
  position: relative;
  margin: 0;
  background-color: black; /*just black 
} */

.spacing{
  height: 3px;
}

/* Slideshow container */
.slideshow {
  /* max-width: 900px; */
  width: 100%;
  position: relative;
  margin: auto;
  /* border: 10px solid #363636; */
  /*black: #363636*/
}

/* Dot container */
.dot-container {
  height: 50px;
  position: relative;
  margin: auto;
}

/* Index Body container */
.indexbody {
  max-width: 500px;
  height: 200 px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Normal text */
.regtext {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #f2f2f2;
  text-wrap: wrap;
  font-size: 11px;
  /*width: 100%;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

header {
  background-color: black;
  padding: 10px;
  padding-left: 30px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

.nav-button {
  background-color: #555;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}


nav a {
  text-decoration: none;
  color: white;
}

.social img {
  width: 30px;
  height: 30px;
}

.copyright{
  color: white; 
  text-align:center;
  font-size: 13px;
}